<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MR.BinPacking.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MR.BinPacking.App.Properties.Settings>
            <setting name="ScaleElements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpandPreviewInPresentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExpandPreviewInResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFileType" serializeAs="String">
                <value>Simple</value>
            </setting>
            <setting name="LastFileHeaderType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFileBinSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VIS_BinSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VIS_MinValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VIS_MaxValue" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VIS_ElementsCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VIS_AASEpsilon" serializeAs="String">
                <value>0,3333</value>
            </setting>
            <setting name="VIS_IsCheckedNF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VIS_IsCheckedFF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedBF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedFFD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedBFD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedRF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedAAS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedReduction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedExact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VIS_IsCheckedMetaheuristic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_From" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EXP_To" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EXP_Step" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EXP_Repeat" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EXP_BinSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EXP_MinValue" serializeAs="String">
                <value>0,01</value>
            </setting>
            <setting name="EXP_MaxValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EXP_IsCheckedDistUniform" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXP_IsCheckedDistGauss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedDistExponential" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedSortNone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EXP_IsCheckedSortAscending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedSortDescending" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_AASEpsilon" serializeAs="String">
                <value>0,3333</value>
            </setting>
            <setting name="EXP_IsCheckedNF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedFF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedBF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedFFD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedBFD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedRF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedAAS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedReduction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedExact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXP_IsCheckedMetaheuristic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
        </MR.BinPacking.App.Properties.Settings>
    </userSettings>
</configuration>